{% extends "AntUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="col-md-6">
{% include "AntUserBundle:Profile:edit_content.html.twig" %}
    </div>
{% endblock fos_user_content %}
