<div id="SVGheroBottomShape"
     class="svg-preloader position-relative gradient-half-primary-v5 z-index-2 overflow-hidden"
     style="background-image: url({% path entity.getMedia, 'hero_extra' %});">
    <div class="container space-top-2 space-top-md-5 space-top-lg-4">
        <!-- Title -->
        <div class="w-md-100 w-lg-100 text-center mx-md-auto mb-9">
            <h1 class="display-4 font-size-md-down-5 text-white">{{ entity.title }}</h1>
            <p class="lead">{{ entity.text }}</p>
        </div>
        <!-- End Title -->