<!-- Hero Section -->
<div class="d-lg-flex position-relative">
    <div class="container d-lg-flex align-items-lg-center space-top-2 space-top-md-5 space-lg-0 min-height-lg-100vh">
        <!-- Content -->
        <div class="row w-100">
            <div class="col-lg-5">
                <h1 class="display-4 font-size-md-down-5 mb-3">{{ entity.title }}</h1>
                <p>
                    {{ entity.text }}
                    <span class="text-primary">
            <strong class="u-text-animation u-text-animation--typing"></strong>
          </span>
                    <br>
                </p>

                <div class="d-flex align-items-center flex-wrap">
                    <a class="btn btn-soft-primary btn-wide transition-3d-hover" href="../pages/login-simple.html">Узнайте больше</a>

                </div>

            </div>
        </div>
        <!-- End Content -->

        <!-- SVG Background -->
        <div id="SVGMainHero" class="col-lg-9 col-xl-7 svg-preloader d-none d-lg-block position-absolute top-0 right-0 pr-0" style="margin-top: 105.6px;">
            <figure class="ie-main-hero">
                <img class="js-svg-injector" src="{{ asset("assets/svg/illustrations/main-hero.svg") }}" alt="Image Description"
                     data-img-paths='[
               {"targetId": "#SVGMainHeroImg1", "newPath": "{% path entity.getMedia, 'hero_square' %}"}
             ]'
                     data-parent="#SVGMainHero">
            </figure>
        </div>
        <!-- End SVG Background -->
    </div>
</div>
<!-- End Hero Section -->