{% set title %}
    Портфолио
{% endset %}
{% set subtitle %}
    Посмотрите что мы строим
{% endset %}

{% include ('_title.html.twig') %}
<div class="m-3 text-center">
    <h2> %title% </h2>
    <p>%subtitle%</p>
</div>
