<ul>
    {% for gallery in pagination %}
        <li>
            {{ include('AntMediaBundle:Gallery:_link_name.html.twig') }}
        </li>
        {{ render(controller('AntMediaBundle:Gallery:thumb', { 'id': gallery|sonata_urlsafeid } )) }}
    {% endfor %}
</ul>
