<!-- Pricing Section -->
<div class="container">
    <div class="mb-3">
        <h2>Цены на каркасные дома</h2>
        <p>Подберите подходящую комплектацию</p>
    </div>

    <!-- Pricing Carousel -->
    <div class="js-slick-carousel u-slick u-slick--gutters-2 mb-4"
         data-adaptive-height="true"
         data-slides-show="4"
         data-slides-scroll="1"
         data-pagi-classes="d-lg-none text-center u-slick__pagination mt-7 mb-0"
         data-responsive='[{
         "breakpoint": 1200,
         "settings": {
           "slidesToShow": 3
         }
       }, {
         "breakpoint": 992,
         "settings": {
           "slidesToShow": 2
         }
       }, {
         "breakpoint": 768,
         "settings": {
           "slidesToShow": 1
         }
       }, {
         "breakpoint": 554,
         "settings": {
           "slidesToShow": 1
         }
       }]'>
        <div class="js-slide">
            <!-- Pricing -->
            <div class="card transition-3d-hover">
                <!-- Header -->
                <header class="card-header text-center p-5">
                    <h4 class="h6 text-primary mb-3">Базовый</h4>
                    <span class="d-block">
            <span class="display-4 text-dark font-weight-normal">
              10<span class="align-top font-size-2">000 р.</span>
            </span>
            <span class="d-block text-secondary font-size-1">за кв м</span>
          </span>
                </header>
                <!-- End Header -->

                <!-- Content -->
                <div class="card-body p-5">
                    <ul class="list-group list-group-flush list-group-borderless mb-4">
                        <li class="list-group-item">Community support</li>
                        <li class="list-group-item">400+ pages</li>
                    </ul>

                    <button type="button" class="btn btn-sm btn-block btn-soft-primary transition-3d-hover">Отправить заявку</button>
                </div>
                <!-- End Content -->
            </div>
            <!-- End Pricing -->
        </div>

        <div class="js-slide">
            <!-- Pricing -->
            <div class="card transition-3d-hover">
                <!-- Header -->
                <header class="card-header text-center p-5">
                    <h4 class="h6 text-warning mb-3">Летний</h4>
                    <span class="d-block">
            <span class="display-4 text-dark font-weight-normal">
              12<span class="align-top font-size-2">000 р.</span>
            </span>
            <span class="d-block text-secondary font-size-1">за кв м</span>
          </span>
                </header>
                <!-- End Header -->

                <!-- Content -->
                <div class="card-body p-5">
                    <ul class="list-group list-group-flush list-group-borderless mb-4">
                        <li class="list-group-item">Community support</li>
                        <li class="list-group-item">400+ pages</li>
                        <li class="list-group-item">100+ header variations</li>
                    </ul>

                    <button type="button" class="btn btn-sm btn-block btn-soft-primary transition-3d-hover">Отправить заявку</button>
                </div>
                <!-- End Content -->
            </div>
            <!-- End Pricing -->
        </div>

        <div class="js-slide">
            <!-- Pricing -->
            <div class="card transition-3d-hover">
                <!-- Header -->
                <header class="card-header text-center p-5">
                    <h4 class="h6 text-success mb-3">Зимний</h4>
                    <span class="d-block">
            <span class="display-4 text-dark font-weight-normal">
              15<span class="align-top font-size-3">000 р.</span>
            </span>
            <span class="d-block text-secondary font-size-1">за кв.м.</span>
          </span>
                </header>
                <!-- End Header -->

                <!-- Content -->
                <div class="card-body p-5">
                    <ul class="list-group list-group-flush list-group-borderless mb-4">
                        <li class="list-group-item">Community support</li>
                        <li class="list-group-item">400+ pages</li>
                        <li class="list-group-item">100+ header variations</li>
                        <li class="list-group-item">20+ home page options</li>
                    </ul>

                    <button type="button" class="btn btn-sm btn-block btn-soft-primary transition-3d-hover">Start Free Trial</button>
                </div>
                <!-- End Content -->
            </div>
            <!-- End Pricing -->
        </div>

        <div class="js-slide">
            <!-- Pricing -->
            <div class="card transition-3d-hover">
                <!-- Header -->
                <header class="card-header text-center p-5">
                    <h4 class="h6 text-danger mb-3">Индивидуальный</h4>
                    <span class="d-block">
            <span class="h2 text-dark font-weight-normal">
              Свяжитесь с нами
            </span>
          </span>
                </header>
                <!-- End Header -->

                <!-- Content -->
                <div class="card-body p-5">
                    <ul class="list-group list-group-flush list-group-borderless mb-4">
                        <li class="list-group-item">Community support</li>
                        <li class="list-group-item">400+ pages</li>
                        <li class="list-group-item">100+ header variations</li>
                        <li class="list-group-item">20+ home page options</li>
                        <li class="list-group-item">Priority Support</li>
                    </ul>

                    <button type="button" class="btn btn-sm btn-block btn-warning transition-3d-hover">Рассчитать</button>
                </div>
                <!-- End Content -->
            </div>
            <!-- End Pricing -->
        </div>
    </div>
    <!-- End Pricing Carousel -->
</div>
<!-- End Pricing Section -->