<!-- Pricing Section -->
<div class="container">
    <div class="row">
        <div class="col-lg-5 mb-7 mb-lg-0">
            <!-- Title -->
            <div class="pr-lg-4 mb-7">
                <span class="btn btn-xs btn-soft-success btn-pill mb-2">Pricing plans</span>
                <h2>No additional costs.<br>Pay for what you use.</h2>
                <p>Choose the most suitable service for your needs with reasonable price.</p>
            </div>
            <!-- End Title -->

            <!-- Button Group -->
            <div class="btn-group btn-group-toggle">
                <a class="js-animation-link btn btn-outline-secondary btn-custom-toggle-primary btn-sm-wide active" href="javascript:;"
                   data-target="#pricingMonthlyExample1"
                   data-link-group="idPricingExample1"
                   data-animation-in="slideInUp">Monthly</a>
                <a class="js-animation-link btn btn-outline-secondary btn-custom-toggle-primary btn-sm-wide" href="javascript:;"
                   data-target="#pricingYearlyExample1"
                   data-link-group="idPricingExample1"
                   data-animation-in="slideInUp">
                    Yearly
                    <span class="badge badge-success badge-pill badge-bigger badge-pos">10% OFF</span>
                </a>
            </div>
            <!-- End Button Group -->
        </div>

        <div class="col-lg-7">
            <!-- Monthly Plans -->
            <div id="pricingMonthlyExample1" class="row align-items-center mb-3" data-target-group="idPricingExample1">
                <div class="col-sm-6 mb-7 mb-sm-0">
                    <!-- Pricing -->
                    <div class="card border-0 shadow-sm">
                        <header id="SVGwave1BottomShapeID1" class="svg-preloader card-header border-0 position-relative bg-primary text-white p-5 pb-11">
                            <h3 class="h4 mb-1">Individual Plan</h3>
                            <span class="d-block">
                <span class="align-top">$</span>
                <span class="display-4 font-weight-semi-bold">22</span>
                <span>/month</span>
              </span>

                            <div class="position-absolute right-0 bottom-0 left-0">
                                <figure class="ie-wave-1-bottom">
                                    <img class="js-svg-injector" src="{{ asset('assets/svg/components/wave-1-bottom.svg') }}" alt="Image Description"
                                         data-parent="#SVGwave1BottomShapeID1">
                                </figure>
                            </div>
                        </header>

                        <!-- Content -->
                        <div class="card-body pt-0 px-5 pb-5">
                            <ul class="list-group list-group-flush list-group-borderless mb-4">
                                <li class="list-group-item">
                                    <div class="d-flex align-items-center">
                    <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-3">
                      <span class="fas fa-check btn-icon__inner"></span>
                    </span>
                                        Community support
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex align-items-center">
                    <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-3">
                      <span class="fas fa-check btn-icon__inner"></span>
                    </span>
                                        400+ pages
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex align-items-center">
                    <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-3">
                      <span class="fas fa-check btn-icon__inner"></span>
                    </span>
                                        100+ header variations
                                    </div>
                                </li>
                                <li class="list-group-item disabled py-2">
                                    <div class="d-flex align-items-center">
                    <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-3">
                      <span class="fas fa-check btn-icon__inner"></span>
                    </span>
                                        20+ home page options
                                    </div>
                                </li>
                            </ul>

                            <button type="button" class="btn btn-sm btn-block btn-soft-primary transition-3d-hover">Get Started</button>
                        </div>
                        <!-- End Content -->
                    </div>
                    <!-- End Pricing -->
                </div>

                <div class="col-sm-6">
                    <!-- Pricing -->
                    <div class="card border-0 shadow-sm">
                        <header id="SVGwave1BottomShapeID2" class="svg-preloader card-header border-0 position-relative bg-primary text-white p-5 pb-11">
                            <h3 class="h4 mb-1">Enterprise Plan</h3>
                            <span class="d-block">
                <span class="align-top">$</span>
                <span class="display-4 font-weight-semi-bold">99</span>
                <span>/month</span>
              </span>

                            <div class="position-absolute right-0 bottom-0 left-0">
                                <figure class="ie-wave-1-bottom">
                                    <img class="js-svg-injector" src="{{ asset('assets/svg/components/wave-1-bottom.svg') }}" alt="Image Description"
                                         data-parent="#SVGwave1BottomShapeID2">
                                </figure>
                            </div>
                        </header>

                        <!-- Content -->
                        <div class="card-body pt-0 px-5 pb-5">
                            <ul class="list-group list-group-flush list-group-borderless mb-4">
                                <li class="list-group-item">
                                    <div class="d-flex align-items-center">
                    <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-3">
                      <span class="fas fa-check btn-icon__inner"></span>
                    </span>
                                        24/7 support
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex align-items-center">
                    <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-3">
                      <span class="fas fa-check btn-icon__inner"></span>
                    </span>
                                        400+ pages
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex align-items-center">
                    <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-3">
                      <span class="fas fa-check btn-icon__inner"></span>
                    </span>
                                        200+ header variations
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex align-items-center">
                    <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-3">
                      <span class="fas fa-check btn-icon__inner"></span>
                    </span>
                                        40+ home page options
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex align-items-center">
                    <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-3">
                      <span class="fas fa-check btn-icon__inner"></span>
                    </span>
                                        E-commerce
                                    </div>
                                </li>
                            </ul>

                            <button type="button" class="btn btn-sm btn-block btn-soft-primary transition-3d-hover">Get Started</button>
                        </div>
                        <!-- End Content -->
                    </div>
                    <!-- End Pricing -->
                </div>
            </div>
            <!-- End Monthly Plans -->

            <!-- Yearly Plans -->
            <div id="pricingYearlyExample1" class="row align-items-center mb-3" style="display: none; opacity: 0;" data-target-group="idPricingExample1">
                <div class="col-sm-6 mb-7 mb-sm-0">
                    <!-- Pricing -->
                    <div class="card border-0 shadow-sm">
                        <header id="SVGwave1BottomShapeID3" class="svg-preloader card-header border-0 position-relative bg-primary text-white p-5 pb-11">
                            <h3 class="h4 mb-1">Individual Plan</h3>
                            <span class="d-block">
                <span class="align-top">$</span>
                <span class="display-4 font-weight-semi-bold">242</span>
                <span>/year</span>
              </span>

                            <div class="position-absolute right-0 bottom-0 left-0">
                                <figure class="ie-wave-1-bottom">
                                    <img class="js-svg-injector" src="../../assets/svg/components/wave-1-bottom.svg" alt="Image Description"
                                         data-parent="#SVGwave1BottomShapeID3">
                                </figure>
                            </div>
                        </header>

                        <!-- Content -->
                        <div class="card-body pt-0 px-5 pb-5">
                            <ul class="list-group list-group-flush list-group-borderless mb-4">
                                <li class="list-group-item">
                                    <div class="d-flex align-items-center">
                    <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-3">
                      <span class="fas fa-check btn-icon__inner"></span>
                    </span>
                                        24/7 support
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex align-items-center">
                    <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-3">
                      <span class="fas fa-check btn-icon__inner"></span>
                    </span>
                                        400+ pages
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex align-items-center">
                    <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-3">
                      <span class="fas fa-check btn-icon__inner"></span>
                    </span>
                                        100+ header variations
                                    </div>
                                </li>
                                <li class="list-group-item disabled py-2">
                                    <div class="d-flex align-items-center">
                    <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-3">
                      <span class="fas fa-check btn-icon__inner"></span>
                    </span>
                                        20+ home page options
                                    </div>
                                </li>
                            </ul>

                            <button type="button" class="btn btn-sm btn-block btn-soft-primary transition-3d-hover">Get Started</button>
                        </div>
                        <!-- End Content -->
                    </div>
                    <!-- End Pricing -->
                </div>

                <div class="col-sm-6">
                    <!-- Pricing -->
                    <div class="card border-0 shadow-sm">
                        <header id="SVGwave1BottomShapeID4" class="svg-preloader card-header border-0 position-relative bg-primary text-white p-5 pb-11">
                            <h3 class="h4 mb-1">Enterprise Plan</h3>
                            <span class="d-block">
                <span class="align-top">$</span>
                <span class="display-4 font-weight-semi-bold">1089</span>
                <span>/year</span>
              </span>

                            <div class="position-absolute right-0 bottom-0 left-0">
                                <figure class="ie-wave-1-bottom">
                                    <img class="js-svg-injector" src="../../assets/svg/components/wave-1-bottom.svg" alt="Image Description"
                                         data-parent="#SVGwave1BottomShapeID4">
                                </figure>
                            </div>
                        </header>

                        <!-- Content -->
                        <div class="card-body pt-0 px-5 pb-5">
                            <ul class="list-group list-group-flush list-group-borderless mb-4">
                                <li class="list-group-item">
                                    <div class="d-flex align-items-center">
                    <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-3">
                      <span class="fas fa-check btn-icon__inner"></span>
                    </span>
                                        24/7 support
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex align-items-center">
                    <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-3">
                      <span class="fas fa-check btn-icon__inner"></span>
                    </span>
                                        400+ pages
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex align-items-center">
                    <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-3">
                      <span class="fas fa-check btn-icon__inner"></span>
                    </span>
                                        200+ header variations
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex align-items-center">
                    <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-3">
                      <span class="fas fa-check btn-icon__inner"></span>
                    </span>
                                        40+ home page options
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex align-items-center">
                    <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-3">
                      <span class="fas fa-check btn-icon__inner"></span>
                    </span>
                                        E-commerce
                                    </div>
                                </li>
                            </ul>

                            <button type="button" class="btn btn-sm btn-block btn-soft-primary transition-3d-hover">Get Started</button>
                        </div>
                        <!-- End Content -->
                    </div>
                    <!-- End Pricing -->
                </div>
            </div>
            <!-- End Yearly Plans -->

            <p class="small text-muted text-center">
                * <a class="link-muted" href="../pages/terms.html">Terms</a> are subject to change.
            </p>
        </div>
    </div>
</div>
<!-- End Pricing Section -->