{% for house in houses %}
    {{ house.title }}
{% endfor %}
<!-- Similar Properties Section -->
<div class="border-top pt-8 mt-8">
    <!-- Title -->
    <div class="mb-3">
        <h2 class="h5">Другие проекты</h2>
    </div>
    <!-- End Title -->

    <!-- Slick Carousel -->
    <div class="js-slick-carousel u-slick u-slick-zoom u-slick--gutters-3"
         data-slides-show="3"
         data-arrows-classes="d-none d-lg-inline-block u-slick__arrow u-slick__arrow--flat u-slick__arrow-centered--y rounded-circle"
         data-arrow-left-classes="fas fa-arrow-left u-slick__arrow-inner u-slick__arrow-inner--left ml-n2"
         data-arrow-right-classes="fas fa-arrow-right u-slick__arrow-inner u-slick__arrow-inner--right mr-n2"
         data-pagi-classes="d-lg-none text-center u-slick__pagination mt-5 mb-0"
         data-responsive='[{
               "breakpoint": 992,
               "settings": {
                 "slidesToShow": 2
               }
             }, {
               "breakpoint": 768,
               "settings": {
                 "slidesToShow": 1
               }
             }]'>
        {% for house in houses %}

        <div class="js-slide card border-0 shadow-sm mb-3">
            <!-- House Items -->
            <div class="position-relative">
                <img class="card-img-top" src="{% path house.mainPhoto, 'big' %}" alt="{{ house.title }}">
                <header class="position-absolute top-0 right-0 left-0 p-5">

                </header>
                <div class="position-absolute right-0 bottom-0 left-0 p-5">
                    <span class="h4 text-white">{{ house.price }} р.</span>
                </div>
            </div>

            <div class="card-body p-5">
                <h4 class="h6">
                    <a href="#">{{ house.title }}</a>
                </h4>
                <span class="fas fa-map-marker-alt text-danger mr-2"></span>
                <a class="text-secondary" href="#">London, England</a>
            </div>
            <!-- End House Items -->
        </div>
        {% endfor %}


    </div>
    <!-- End Slick Carousel -->
</div>
<!-- End Similar Properties Section -->