<!-- Pricing Section -->
<div class="container">
    <div class="m-3 text-center">
        <h2>Цены на каркасные дома</h2>
        <p>Подберите подходящую комплектацию</p>
    </div>

    <!-- Pricing Carousel -->
    <div class="js-slick-carousel u-slick u-slick--gutters-2 mb-4"
         data-adaptive-height="true"
         data-slides-show="4"
         data-slides-scroll="1"
         data-pagi-classes="d-lg-none text-center u-slick__pagination mt-7 mb-0"
         data-responsive='[{
         "breakpoint": 1200,
         "settings": {
           "slidesToShow": 3
         }
       }, {
         "breakpoint": 992,
         "settings": {
           "slidesToShow": 2
         }
       }, {
         "breakpoint": 768,
         "settings": {
           "slidesToShow": 1
         }
       }, {
         "breakpoint": 554,
         "settings": {
           "slidesToShow": 1
         }
       }]'>
        <div class="js-slide">
            <!-- Pricing -->
            <div class="card transition-3d-hover">
                <!-- Header -->
                <header class="card-header text-center p-5">
                    <h4 class="h6 text-primary mb-3">Базовый</h4>
                    <span class="d-block">
            <span class="display-4 text-dark font-weight-normal">
              15<span class="align-top font-size-2">000</span>
            </span>
                        <span class="d-block text-secondary font-size-1">р./м<span class="align-top">2</span></span>
          </span>
                </header>
                <!-- End Header -->

                <!-- Content -->
                <div class="card-body p-5">
                    <ul class="list-group list-group-flush list-group-borderless mb-4">
                        <li class="list-group-item">Свайный фундамент</li>
                        <li class="list-group-item">Каркас</li>
                        <li class="list-group-item">Кровля</li>
                        <li class="list-group-item">Ветрозащита</li>
                    </ul>

                    <a class="btn btn-sm btn-block btn-soft-primary transition-3d-hover" href="{{ path ('dom_houses') }}">Выбрать дом</a>
                </div>
                <!-- End Content -->
            </div>
            <!-- End Pricing -->
        </div>

        <div class="js-slide">
            <!-- Pricing -->
            <div class="card transition-3d-hover">
                <!-- Header -->
                <header class="card-header text-center p-5">
                    <h4 class="h6 text-warning mb-3">Летний</h4>
                    <span class="d-block">
            <span class="display-4 text-dark font-weight-normal">
              24<span class="align-top font-size-2">000</span>
            </span>
            <span class="d-block text-secondary font-size-1">р./кв.м</span>
          </span>
                </header>
                <!-- End Header -->

                <!-- Content -->
                <div class="card-body p-5">
                    <ul class="list-group list-group-flush list-group-borderless mb-4">
                        <li class="list-group-item">Ленточный фундамент</li>
                        <li class="list-group-item">Каркас</li>
                        <li class="list-group-item">Кровля</li>
                        <li class="list-group-item">Ветрозащита</li>
                        <li class="list-group-item">Пластиковые окна</li>
                        <li class="list-group-item">Сайдинг</li>
                        <li class="list-group-item">Утепление</li>
                    </ul>

                    <a class="btn btn-sm btn-block btn-soft-primary transition-3d-hover" href="{{ path ('dom_houses') }}">Выбрать дом</a>
                </div>
                <!-- End Content -->
            </div>
            <!-- End Pricing -->
        </div>

        <div class="js-slide">
            <!-- Pricing -->
            <div class="card transition-3d-hover">
                <!-- Header -->
                <header class="card-header text-center p-5">
                    <h4 class="h6 text-success mb-3">Зимний</h4>
                    <span class="d-block">
            <span class="display-4 text-dark font-weight-normal">
              28<span class="align-top font-size-3">000</span>
            </span>
            <span class="d-block text-secondary font-size-1">р./кв.м</span>
          </span>
                </header>
                <!-- End Header -->

                <!-- Content -->
                <div class="card-body p-5">
                    <ul class="list-group list-group-flush list-group-borderless mb-4">
                        <li class="list-group-item">Ленточный фундамент</li>
                        <li class="list-group-item">Каркас</li>
                        <li class="list-group-item">Кровля</li>
                        <li class="list-group-item">Ветрозащита</li>
                        <li class="list-group-item">Пластиковые окна</li>
                        <li class="list-group-item">Сайдинг</li>
                        <li class="list-group-item">Утепление</li>
                        <li class="list-group-item">Пароизоляция</li>
                        <li class="list-group-item">Сливная система</li>
                    </ul>

                    <a class="btn btn-sm btn-block btn-soft-primary transition-3d-hover" href="{{ path ('dom_houses') }}">Выбрать дом</a>
                </div>
                <!-- End Content -->
            </div>
            <!-- End Pricing -->
        </div>

        <div class="js-slide">
            <!-- Pricing -->
            <div class="card transition-3d-hover">
                <!-- Header -->
                <header class="card-header text-center p-5">
                    <h4 class="h6 text-danger mb-3">Индивидуальный</h4>
                    <span class="d-block">
            <span class="h2 text-dark font-weight-normal">
              Свяжитесь с нами
            </span>
          </span>
                </header>
                <!-- End Header -->

                <!-- Content -->
                <div class="card-body p-5">
                    <ul class="list-group list-group-flush list-group-borderless mb-4">
                        <li class="list-group-item">Фундамент на выбор</li>
                        <li class="list-group-item">Изменение проекта</li>
                        <li class="list-group-item">Застройка участка под ключ</li>
                        <li class="list-group-item">Внутренняя отделка</li>
                    </ul>

                    <button type="button" class="btn btn-sm btn-block btn-warning transition-3d-hover">Рассчитать</button>
                </div>
                <!-- End Content -->
            </div>
            <!-- End Pricing -->
        </div>
    </div>
    <!-- End Pricing Carousel -->
</div>
<!-- End Pricing Section -->