<!-- What We Do Section -->
<div class="container space-2">
    <div class="row justify-content-lg-between">
        <div class="col-lg-4 mb-7 mb-lg-0">
            <!-- Title -->
            <small class="text-secondary text-uppercase font-weight-medium mb-2"></small>
            <h3 class="font-weight-medium">Преимущества работы с командой HBDOM</h3>
            <p>This is where we really begin to visualize your napkin sketches and make them into beautiful pixels.</p>
            <button type="button" class="btn btn-soft-primary">Узнать больше</button>

            <!-- End Title -->
        </div>

        <div class="col-lg-7">
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <!-- Icon Blocks -->
                    <figure id="icon36" class="svg-preloader ie-height-56 w-100 max-width-8 mb-3">
                        <img class="js-svg-injector" src="../../assets/svg/icons/icon-36.svg" alt="SVG"
                             data-parent="#icon36">
                    </figure>
                    <h4 class="h5">Канадская технология</h4>
                    <p class="font-size-1">Подход к строительству с вековой историей и современными возможностями.</p>
                    <!-- End Icon Blocks -->
                </div>

                <div class="col-sm-6 mb-3">
                    <!-- Icon Blocks -->
                    <figure id="icon21" class="svg-preloader ie-height-56 w-100 max-width-8 mb-3">
                        <img class="js-svg-injector" src="../../assets/svg/icons/icon-21.svg" alt="SVG"
                             data-parent="#icon21">
                    </figure>
                    <h4 class="h5">7 лет на рынке</h4>
                    <p class="font-size-1">Проверенная схема работы гарантирует Ваше скорейшее заселение</p>
                    <!-- End Icon Blocks -->
                </div>

                <div class="w-100"></div>

                <div class="col-sm-6 mb-3 mb-sm-0">
                    <!-- Icon Blocks -->
                    <figure id="icon35" class="svg-preloader ie-height-56 w-100 max-width-8 mb-3">
                        <img class="js-svg-injector" src="../../assets/svg/icons/icon-35.svg" alt="SVG"
                             data-parent="#icon35">
                    </figure>
                    <h4 class="h5">Короткий срок строительства</h4>
                    <p class="font-size-1">2 месяца - минимально возможное время, через которое возможно Ваше проживание</p>
                    <!-- End Icon Blocks -->

                </div>

                <div class="col-sm-6">
                    <!-- Icon Blocks -->
                    <figure id="icon20" class="svg-preloader ie-height-56 w-100 max-width-8 mb-3">
                        <img class="js-svg-injector" src="../../assets/svg/icons/icon-20.svg" alt="SVG"
                             data-parent="#icon20">
                    </figure>
                    <h4 class="h5">Обустроим Ваш участок под ключ</h4>
                    <p class="font-size-1">Мы не ограничиваемся домом, всегда готовы сотрудничать и взять на себя обустройство всего Вашего участка.</p>
                    <!-- End Icon Blocks -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End What We Do Section -->