{% extends 'AntWebBundle::layout.html.twig' %}
{% block content %}
    <h1>Дополнительные услуги</h1>
    <div>Построим не загородный дом, а пространство для беззаботного отдыха.</div>
    <h2>Преимущества работы с нами</h2>
<ul>
    <li>Одна команда</li>
    <li>Единый стиль строений</li>
    <li>Сокращение срока строительства</li>
</ul>
    <h2>Постройки</h2>
<h3>Бани</h3>
    <h3>Зона барбекю</h3>
<h3>Мастерская/хозблок</h3>
    <h3>Гараж</h3>
    <h2>Порядок на заднем дворе</h2>
    <h3>Дорожки</h3>
    <h3>Озеленение</h3>
    <h3>Инфраструктура</h3>
    <h3>Освещение на участке</h3>
    <h2>Технология Умный дом</h2>
    <h3>Управляйте Вашим домом удаленно</h3>
    <h3>Через мобильное приложение</h3>
    <h3>Внутренняя отделка и декорирование</h3>
    <h3>По вашему или авторскому дизайну</h3>
    <h3>Работы и закупка материалов под ключ</h3>
{% endblock %}