{% block content %}
<h1>Быстро и качественно строим надежные дома для Вашего проживания
</h1>
    <h1>Преимущества работы с командой HBDOM</h1>
    <div>
    <h2>Канадская технология</h2>
        <p>Подход к строительству с вековой историей и современными возможностями</p>
    </div>
    <div>
    <h2>7 лет на рынке</h2>
        <p>Проверенная схема работы гарантирует Ваше скорейшее заселение</p>
    </div>
    <div>
        <h2>Короткий срок строительства</h2>
        <p>2 месяца - минимально возможное время, через которое возможно Ваше проживание</p>
    </div>
    <div>
        <h2>Опытная команда</h2>
        <p>Мы гордимся своими сотрудниками и рады, что они могу работать для Вас.</p>
    </div>
    <div>
        <h2>Обустроим Ваш участок под ключ</h2>
        <p>Мы не ограничиваемся домом, всегда готовы сотрудничать и взять на себя обустройство всего Вашего участка.</p>
    </div>

{% endblock %}
