
<div class="row well well-lg">
    <div class="container">
        <div class="col-md-8">
            <nav class="nav" role="navigation">
                {{ knp_menu_render('AntWebBundle:FrontendBuilder:footerMenu') }}
            </nav>
        </div>
        <div class="col-md-4">
            <p>ООО "Муравей"</p>
            <p>+7 495 555 55 55</p>
            <p><a href="#">head@ant.web</a></p>
        </div>
    </div>
</div>