<div class="row">
    <div>
        <h1>Наши работы</h1>
    </div>
{% for portfolio in pagination %}
    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <a href="{{ path('portfolio_show', { 'id': portfolio.id }) }}">
                {{ render(controller('ApplicationSonataMediaBundle:Gallery:thumb', { 'id': entity.gallery|sonata_urlsafeid} )) }}
            </a>
            <div class="caption">
                <h3 class="media-heading">{{ portfolio.title }}</h3>
                <a href="{{ path('portfolio_show', { 'id': portfolio.id }) }}" class="btn btn-default">Подробнее</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>