{% extends 'front_layout.html.twig' %}

{% block body %}
                <!-- Hero Section -->
        <div id="SVGheroBottomShape" class="svg-preloader position-relative gradient-half-primary-v5 z-index-2 overflow-hidden" style="background-image: url({{ asset ('assets/img/1920x1080/hero_1.jpeg')}});">
            <div class="container space-top-2 space-top-md-5 space-top-lg-4">
                <!-- Title -->
                <div class="w-md-100 w-lg-100 text-center mx-md-auto mb-9">
                    <h1 class="display-4 font-size-md-down-5 text-white">Быстро и качественно <strong class="font-weight-semi-bold">строим надёжные дома для Вашего проживания</strong></h1>
                    <p class="lead">Каркасные дома по канадской технологии</p>
                </div>
                <!-- End Title -->

                <!-- Houses Carousel -->
                <div class="js-slick-carousel u-slick u-slick--gutters-3 z-index-2"
                     data-slides-show="5"
                     data-slides-scroll="1"
                     data-pagi-classes="d-lg-none text-center u-slick__pagination mt-7 mb-0"
                     data-responsive='[{
               "breakpoint": 1200,
               "settings": {
                 "slidesToShow": 4
               }
             }, {
               "breakpoint": 992,
               "settings": {
                 "slidesToShow": 3
               }
             }, {
               "breakpoint": 768,
               "settings": {
                 "slidesToShow": 2
               }
             }, {
               "breakpoint": 480,
               "settings": {
                 "slidesToShow": 1
               }
             }]'>
                    {% for house in houses %}
                        {% include 'ant_web_bundle/house/thumb_house.html.twig' %}
                    {% endfor %}
                </div>
                <!-- End Slick Carousel -->
            </div>
            <!-- SVG Bottom Shape -->
            <figure class="position-absolute right-0 bottom-0 left-0">
                <img class="js-svg-injector" src="{{ asset('assets/svg/components/irregular-shape-1-bottom.svg') }}" alt="Image Description"
                     data-parent="#SVGheroBottomShape">
            </figure>
            <!-- End SVG Bottom Shape -->

        </div>
        <!-- End Hero Section -->
        {% include 'ant_web_bundle/house/index_benefits.html.twig' %}
    {{ render(controller('App\\Controller\\HBDOMController::testimonialsAction' )) }}


{% endblock %}
