{% extends 'front_layout.html.twig' %}

{% block body %}
                <!-- Hero Section -->
    {{ render(url('ad_one')) }}

    <!-- Houses Carousel -->
                <div class="js-slick-carousel u-slick u-slick--gutters-3 z-index-2"
                     data-slides-show="5"
                     data-slides-scroll="1"
                     data-pagi-classes="d-lg-none text-center u-slick__pagination mt-7 mb-0"
                     data-responsive='[{
               "breakpoint": 1200,
               "settings": {
                 "slidesToShow": 4
               }
             }, {
               "breakpoint": 992,
               "settings": {
                 "slidesToShow": 3
               }
             }, {
               "breakpoint": 768,
               "settings": {
                 "slidesToShow": 2
               }
             }, {
               "breakpoint": 480,
               "settings": {
                 "slidesToShow": 1
               }
             }]'>
                    {% for house in houses %}
                        {% include 'ant_web_bundle/house/thumb_house.html.twig' %}
                    {% endfor %}
                </div>
                <!-- End Slick Carousel -->
            </div>
            <!-- SVG Bottom Shape -->
            <figure class="position-absolute right-0 bottom-0 left-0">
                <img class="js-svg-injector" src="{{ asset('assets/svg/components/irregular-shape-1-bottom.svg') }}" alt="Image Description"
                     data-parent="#SVGheroBottomShape">
            </figure>
            <!-- End SVG Bottom Shape -->

        </div>
        <!-- End Hero Section -->
        {% include 'ant_web_bundle/house/index_benefits.html.twig' %}
        {% include 'ant_web_bundle/house/index_testimonials.html.twig' %}


{% endblock %}
