<!-- Icon Blocks Section -->
<div class="row space-top-2">
        <div class="col-md-3 mb-7">
            <div class="text-center px-lg-3">
        <span class="btn btn-icon btn-lg btn-soft-danger rounded-circle mb-5">
          <span class="fab fa-yelp btn-icon__inner fa-2x btn-icon__inner-bottom-minus"></span>
        </span>
                <h3 class="h5">Канадская технология</h3>
                <p class="mb-md-0">Achieve virtually any design and layout from within the one template.</p>
            </div>
        </div>

        <div class="col-md-3 mb-7">
            <div class="text-center px-lg-3">
        <span class="btn btn-icon btn-lg btn-soft-primary rounded-circle mb-5">
          <span class="fas fa-fire btn-icon__inner fa-2x btn-icon__inner-bottom-minus"></span>
        </span>
                <h3 class="h5">7 лет на рынке</h3>
                <p class="mb-md-0">We strive to figure out ways to help your business grow through all platforms.</p>
            </div>
        </div>

        <div class="col-md-3 mb-7">
            <div class="text-center px-lg-3">
        <span class="btn btn-icon btn-lg btn-soft-success rounded-circle mb-5">
          <span class="fab fa-whmcs btn-icon__inner fa-2x btn-icon__inner-bottom-minus"></span>
        </span>
                <h3 class="h5">Быстрое возведение</h3>
                <p class="mb-md-0">Find what you need in one template and combine features at will.</p>
            </div>
        </div>
        <div class="col-md-3 mb-7">
            <div class="text-center px-lg-3">
        <span class="btn btn-icon btn-lg btn-soft-success rounded-circle mb-5">
          <span class="fab fa-whmcs btn-icon__inner fa-2x btn-icon__inner-bottom-minus"></span>
        </span>
                <h3 class="h5">Обустройство участка под ключ</h3>
                <p class="mb-md-0">Find what you need in one template and combine features at will.</p>
            </div>
        </div>
</div>
<!-- End Icon Blocks Section -->