<!-- Icon Blocks Section -->
<div class="row space-top-2 gradient-half-primary-v3">
        <div class="col-md-3 mb-7">
            <div class="text-center px-lg-3">
        <span class="btn btn-icon btn-lg btn-soft-danger rounded-circle mb-5">
          <span class="fab fa-yelp btn-icon__inner fa-2x btn-icon__inner-bottom-minus"></span>
        </span>
                <h3 class="h5">Канадская технология</h3>
                <p class="mb-md-0">Подход к строительству с вековой историей и современными возможностями.</p>
            </div>
        </div>

        <div class="col-md-3 mb-7">
            <div class="text-center px-lg-3">
        <span class="btn btn-icon btn-lg btn-soft-primary rounded-circle mb-5">
          <span class="fas fa-fire btn-icon__inner fa-2x btn-icon__inner-bottom-minus"></span>
        </span>
                <h3 class="h5">7 лет на рынке</h3>
                <p class="mb-md-0">Проверенная схема работы гарантирует Ваше скорейшее заселение</p>
            </div>
        </div>

        <div class="col-md-3 mb-7">
            <div class="text-center px-lg-3">
        <span class="btn btn-icon btn-lg btn-soft-success rounded-circle mb-5">
          <span class="fab fa-whmcs btn-icon__inner fa-2x btn-icon__inner-bottom-minus"></span>
        </span>
                <h3 class="h5">Быстрое возведение</h3>
                <p class="mb-md-0">2 месяца - минимально возможное время, через которое возможно Ваше проживание</p>
            </div>
        </div>
        <div class="col-md-3 mb-7">
            <div class="text-center px-lg-3">
        <span class="btn btn-icon btn-lg btn-soft-success rounded-circle mb-5">
          <span class="fab fa-whmcs btn-icon__inner fa-2x btn-icon__inner-bottom-minus"></span>
        </span>
                <h3 class="h5">Обустройство участка под ключ</h3>
                <p class="mb-md-0">Мы не ограничиваемся домом, всегда готовы сотрудничать и взять на себя обустройство всего Вашего участка.</p>
            </div>
        </div>
</div>
<!-- End Icon Blocks Section -->