<!-- Icon Blocks Section -->
<div class="row space-top-2 gradient-half-primary-v3">
        <div class="col-md-3 mb-7">
            <div class="text-center px-lg-3">
                <figure id="icon36" class="svg-preloader ie-height-56 max-width-8 mb-3 mx-auto">
                    <img class="js-svg-injector" src="{{ asset('assets/svg/icons/icon-36.svg') }}" alt="SVG"
                         data-parent="#icon36">
                </figure>
                <h3 class="h5">Канадская технология</h3>
                <p class="mb-md-0">Подход к строительству с вековой историей и современными возможностями.</p>
            </div>
        </div>

        <div class="col-md-3 mb-7">
                <div class="text-center px-lg-3">
                <figure id="icon21" class="svg-preloader ie-height-56 max-width-8 mb-3 mx-auto">
                    <img class="js-svg-injector" src="{{ asset('assets/svg/icons/icon-21.svg') }}" alt="SVG"
                         data-parent="#icon21">
                </figure>
                <h3 class="h5">7 лет на рынке</h3>
                <p class="mb-md-0">Проверенная схема работы гарантирует Ваше скорейшее заселение</p>
            </div>
        </div>

        <div class="col-md-3 mb-7">
            <div class="text-center px-lg-3">
                <figure id="icon35" class="svg-preloader ie-height-56 max-width-8 mb-3 mx-auto">
                    <img class="js-svg-injector" src="{{ asset('assets/svg/icons/icon-35.svg') }}" alt="SVG"
                         data-parent="#icon35">
                </figure>
                <h3 class="h5">Быстрое возведение</h3>
                <p class="mb-md-0">2 месяца - минимально возможное время, через которое возможно Ваше проживание</p>
            </div>
        </div>
        <div class="col-md-3 mb-7">
             <div class="text-center px-lg-3">
                <figure id="icon20" class="svg-preloader ie-height-56 max-width-8 mb-3 mx-auto">
                    <img class="js-svg-injector" src="{{ asset('assets/svg/icons/icon-20.svg') }}" alt="SVG"
                         data-parent="#icon20">
                </figure>
                <h3 class="h5">Обустройство участка под ключ</h3>
                <p class="mb-md-0">Мы не ограничиваемся домом, всегда готовы сотрудничать и взять на себя обустройство всего Вашего участка.</p>
            </div>
        </div>
</div>
<!-- End Icon Blocks Section -->