<!-- Stats Progress Section -->
<div class="container">
       <div class="row mb-9">
        <div class="col-sm-6 col-lg-3 mb-7 mb-lg-4">
              <div class="u-stats-progress position-relative d-flex align-items-center justify-content-center">
                <!-- Pie Circle -->
                <div class="js-pie text-center"
                     data-circles-text-class="u-stats-progress__info"
                     data-circles-value="25"
                     data-circles-is-hide-value="true"
                     data-circles-max-value="100"
                     data-circles-bg-color="#f8fafd"
                     data-circles-fg-color="#60D3EA"
                     data-circles-fg-stroke-linecap="round"
                     data-circles-fg-stroke-miterlimit="10"
                     data-circles-radius="100"
                     data-circles-stroke-width="8"
                     data-circles-additional-text="1 этап"
                     data-circles-additional-text-type="prefix"
                     data-circles-duration="2000"
                     data-circles-scroll-animate="true"
                     data-circles-color="#60D3EA"
                     data-circles-font-size="24"
                     data-circles-font-weight="500"
                     data-circles-secondary-text="Фундамент"
                     data-circles-secondary-color="#77838f"
                     data-circles-secondary-font-size="18"
                     data-circles-secondary-font-weight="400"
                     data-circles-divider-space="10"
                >

                </div>
                <!-- End Pie Circle -->
            </div>
        </div>

        <div class="col-sm-6 col-lg-3 mb-7 mb-lg-4">
            <div class="u-stats-progress position-relative d-flex align-items-center justify-content-center">
                <!-- Pie Circle -->
                <div class="js-pie text-center"
                     data-circles-text-class="u-stats-progress__info"
                     data-circles-value="50"
                     data-circles-is-hide-value="true"
                     data-circles-max-value="100"
                     data-circles-bg-color="#f8fafd"
                     data-circles-fg-color="#60D3EA"
                     data-circles-fg-stroke-linecap="round"
                     data-circles-fg-stroke-miterlimit="10"
                     data-circles-radius="100"
                     data-circles-stroke-width="8"
                     data-circles-additional-text="2 этап"
                     data-circles-additional-text-type="prefix"
                     data-circles-duration="2000"
                     data-circles-scroll-animate="true"
                     data-circles-color="#60D3EA"
                     data-circles-font-size="24"
                     data-circles-font-weight="500"
                     data-circles-secondary-text="Каркас"
                     data-circles-secondary-color="#77838f"
                     data-circles-secondary-font-size="18"
                     data-circles-secondary-font-weight="400"
                     data-circles-divider-space="10">

                </div>
                <!-- End Pie Circle -->
            </div>
        </div>

        <div class="col-sm-6 col-lg-3 mb-7 mb-lg-4">
            <div class="u-stats-progress position-relative d-flex align-items-center justify-content-center">
                <!-- Pie Circle -->
                <div class="js-pie text-center"
                     data-circles-text-class="u-stats-progress__info"
                     data-circles-value="75"
                     data-circles-is-hide-value="true"
                     data-circles-max-value="100"
                     data-circles-bg-color="#f8fafd"
                     data-circles-fg-color="#60D3EA"
                     data-circles-fg-stroke-linecap="round"
                     data-circles-fg-stroke-miterlimit="10"
                     data-circles-radius="100"
                     data-circles-stroke-width="8"
                     data-circles-additional-text="3 этап"
                     data-circles-additional-text-type="prefix"
                     data-circles-duration="2000"
                     data-circles-scroll-animate="true"
                     data-circles-color="#60D3EA"
                     data-circles-font-size="24"
                     data-circles-font-weight="500"
                     data-circles-secondary-text="Кровля"
                     data-circles-secondary-color="#77838f"
                     data-circles-secondary-font-size="18"
                     data-circles-secondary-font-weight="400"
                     data-circles-divider-space="10">

                </div>
                <!-- End Pie Circle -->
            </div>
        </div>

        <div class="col-sm-6 col-lg-3 mb-7 mb-lg-4">
            <div class="u-stats-progress position-relative d-flex align-items-center justify-content-center">
                <!-- Pie Circle -->
                <div class="js-pie text-center"
                     data-circles-text-class="u-stats-progress__info"
                     data-circles-value="100"
                     data-circles-is-hide-value="true"
                     data-circles-max-value="100"
                     data-circles-bg-color="#f8fafd"
                     data-circles-fg-color="#60D3EA"
                     data-circles-fg-stroke-linecap="round"
                     data-circles-fg-stroke-miterlimit="10"
                     data-circles-radius="100"
                     data-circles-stroke-width="8"
                     data-circles-additional-text="4 этап"
                     data-circles-additional-text-type="prefix"
                     data-circles-duration="2000"
                     data-circles-scroll-animate="true"
                     data-circles-color="#60D3EA"
                     data-circles-font-size="24"
                     data-circles-font-weight="500"
                     data-circles-secondary-text="Коммуникации"
                     data-circles-secondary-color="#77838f"
                     data-circles-secondary-font-size="18"
                     data-circles-secondary-font-weight="400"
                     data-circles-divider-space="10">

                </div>
                <!-- End Pie Circle -->
            </div>
        </div>
    </div>

</div>
<!-- End Stats Progress Section -->