{% extends 'front_layout.html.twig' %}
{% block content %}
    <div><h1>Этапы строительства</h1>
        <div>
            <h3>
                Фундамент
            </h3>
            <p>
                Устройство фундамента согласно нагрузке и типу почвы
            </p>
        </div>
        <div>
            <h3>Каркас</h3>
            <p>Монтаж легковозводимой и надежной несущей конструкции</p>
        </div>
        <div>
            <h3>Кровля</h3>
            <p>Укладка подходит для любых климатических условий</p>
        </div>
        <div>
            <h3>Отделка</h3>
            <p>Внешняя отделка Вашим любимым материалом</p>
        </div>
    </div>
    <div>
        <h1>Устройство фундамента</h1>
        <h3>Свайный винтовой фундамент</h3>
        <p>Возводится в регионаз с высоким уровнем грунтовых вод, сыпучей почвой и другими неблагоприятными факторами.</p>
        <h3>Ленточный фундамент</h3>
        <p>Возводится в регионаз с высоким уровнем грунтовых вод, сыпучей почвой и другими неблагоприятными факторами.</p>
        <h3>Монолитная плита из ЖБ</h3>
        <p>Возводится в регионаз с высоким уровнем грунтовых вод, сыпучей почвой и другими неблагоприятными факторами.</p>
    </div>
    <div>
        <h1>Каркас</h1>
        <p>Строительство легковозводимой несущей конструкции, состоящей из полов, каркаса стен, стропильной системы и утепленного контура.</p>
        <h3>
            1 этап
        </h3>
        <p>Монтаж пола и стен</p>
        <h3>
            2 этап
        </h3>
        <p>Монтаж стропильной системы дома.</p>
        <h3>
            3 этап
        </h3>
        <p>Утепление и пароизоляция дома.</p>
    </div>
    <div>
        <h1>Укладка кровли</h1>
        <h3>Мягкая кровля</h3>
        <p>Мягкая битумная черепица - это небольшие листы, которые нередко именуются кровельной плиткой.
        </p>
        <p>Преимуществом такого материала считается минимальное количество отходов, долгий срок эксплуатации и привлекательный вид. Мягкая черепица имеет разнообразные оттенки.</p>
        <h3>
            Металлочерепица
        </h3>
        <p>Современная кровельная металлочерепица различается материалом основания, типом защитного покрытия, а также высотой и формой профиля.</p>
        <p>Металлочерепица высотой свыше 50 мм является более прочной и дорогостоящей. Помимо того, наиболее распространенным видом кровли считается профиль, выполненный в виде ассиметричной волны. Каждый вид черепицы отличается также рисунком и глубиной волны.</p>
        <h1>
Инженерные коммуникации
        </h1>
        <p>Производится прокладка системы отопления, водопровода, электропроводки и вентиляции. Благодаря использованию оригинальной канадской технологии, прокладка всех коммуникаций происходит в межэтажном и внутристеновом пространстве дома, что позволяет сохранять внутри жилое пространство.</p>
        <h1>
            Гарантии
        </h1>
        <h2>Сертифицированные материалы</h2>
        <h2>Гарантия 2 года</h2>
        <h2>Ежедневные отчеты с места стройки</h2>
        <h2>Работа по договору</h2>
    </div>
{% endblock %}