<!-- Frames Section -->
<div class="container u-cubeportfolio">
    <!-- Content -->
    <div class="cbp"
         data-layout="mosaic"
         data-animation="quicksand"
         data-x-gap="15"
         data-y-gap="15"
         data-media-queries='[
      {"width": 1500, "cols": 4},
      {"width": 1100, "cols": 4},
      {"width": 800, "cols": 3},
      {"width": 480, "cols": 2},
      {"width": 400, "cols": 2}
  ]'>
        {% for galleryHasMedia in gallery.GalleryHasMedias %}
        <!-- Item -->
        <div class="cbp-item">
            <div class="cbp-caption">
                <img class="img-fluid rounded" src="{% path galleryHasMedia.media, 'big' %}" alt="Image Description">
            </div>
        </div>
        <!-- End Item -->
{% endfor %}
    </div>
    <!-- End Content -->
</div>
<!-- End Frames Section -->